{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>アラジン更新</title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="https://unpkg.com/karma-css@latest/dist/karma.min.css">
            <link rel="stylesheet"
            href="{% static 'css/review.css' %}" >
    </head>
    <body>
        <div class="container">
            <h2>アラジン更新</h2>
            <div class="text">
                <h3 class="text-center"><strong>My Review</strong></h3>
                <table>
                    <tr>
                        <td>ニックネーム：{{ post.nickname }}</td>
                    </tr>

                    <tr>
                        <td>評価：{{ post.rate }}</td>
                    </tr>

                    <tr>
                        <td>レビュー：{{ post.review }}</td>
                    </tr>
                </table>
            </div>
            <h3 class="text-center"><strong>Change My Review</strong></h3>
            <form action="{% url 'do_update' post.id %}" method="post">
                {% csrf_token %}
                <div class="text">
                    <table>
                        <tr>
                            <td><label for="InputTextarea">評価(0.0～５.0)</label></td>
                            <td><input class="form-control" type="number" name="rate" step="0.1" min="0" max="5" value="0.0" required></td>
                        </tr>
                        <tr>
                            <td><label for="InputTextarea">レビュー</label></td>
                            <td><textarea class="form-control" placeholder="レビューを入力してください" name="review" required></textarea></td>
                        </tr>

                    </table>
                </div>

                <div class="form-group">
                    <button type="submit" class="button">
                        レビュー更新
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>