{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Aladdin</title>
            <meta charset="utf-8">
            <!-- <link rel="stylesheet" href="https://unpkg.com/karma-css@latest/dist/karma.min.css"> -->
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="{% static 'css/review.css' %}" >
    </head>
    <body>
        <div class="container">
            <h2 class="text-center">Aladdin Review</h2>
            <!-- <a>
                <img src="review\static\img\Aladdin.jpg" alt="アラジンのイラスト" title="アラジン"></img>
            </a> -->
            <img src="{% static 'img\Aladdin.jpg' %}">
            <h3 class="text-center"><strong>Introduction</strong></h3>
            <p itemprop="description">
                    「アラビアン・ナイト」の物語をベースに、不思議なランプを手に入れた若者が愛する女性を
                    守るため繰り広げる冒険を描いたディズニー・アニメの名作を、「シャーロック・ホームズ」シリーズの
                    ガイ・リッチー監督のメガホンでディズニーが実写映画。生きるために盗みを働きながらも真っ直ぐな心を持ち、
                    人生を変えるチャンスをつかもうとしている青年アラジンと、自立した心と強い好奇心を抱き、自由に憧れる王女ジャスミン。
                    2人の運命的な出会いをきっかけに、それぞれの願いは動き始める。そしてアラジンは、邪悪な大臣ジャファーの甘い誘いに乗り、
                    魔法の洞窟からランプを引き受けるが……。魔法のランプから登場するランプの魔人ジーニーをウィル・スミスが演じる。
                    アニメ版でアカデミー主題歌賞を受賞したアラン・メンケン作曲、ティム・ライス作詞の「ホール・ニュー・ワールド」など
                    おなじみの楽曲も流れるほか、「ラ・ラ・ランド」「グレイテスト・ショーマン」のベンジ・パセック＆ジャスティン・ポールが
                    手がけた新曲も物語を彩る。
            </p>
            <a class="btn btn-primary btn-lg" href="https://www.disney.co.jp/movie/aladdin.html" role="button"><strong>公式サイトへ</strong></a>
            <h3 class="text-center"><strong>Review</strong></h3>
            <form action="{% url 'add' %}" method="post">
                {% csrf_token %}
                <div class="text">
                    <table>
                        <tr>
                            <td>ニックネーム</td>
                            <td>{{ form.nickname }}</td>
                        </tr>
                        <tr>
                            <td>評価(0.0～５.0)</td>
                            <td><input type="number" name="rate" step="0.1" min="0" max="5" value="0.0"></td>
                        </tr>
                        <tr>
                            <td>レビュー</td>
                            <td>{{ form.review }}</td>
                        </tr>
                        <!-- ニックネーム{{ form.nickname }}<br>
                        評価(0.0～５.0)<input type="number" name="rate" step="0.1" min="0" max="5" value="0.0"><br>
                        レビュー{{ form.review }}<br> -->
                    </table>
                </div>

                <div class="form-group">
                    <button type="submit" class="button">
                    レビュー追加
                    </button>           
                </div>
            </form>
            <h3 class="text-center"><strong>Reviews</strong></h3>
            <table class="cinemereview list table">
                <tbody>                      
                    {% for post in posts %}
                        <tr>
                            <td>
                                <div>
                                    <div class="message">
                                        ニックネーム：{{ post.nickname }}&nbsp;&nbsp;
                                    </div>
                                    <div class="message">
                                        評価：{{ post.rate }}&nbsp;&nbsp;
                                    </div>
                                    <div class="message">
                                        レビュー：{{ post.review }}&nbsp;&nbsp;
                                    </div>

                                    <div>{{ post.created_date }}</div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <td>
                                        <form action="{% url 'update' post.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="button update">更新</button>
                                        </form>
                                        <form action="{% url 'delete' post.id %}" method="post">
                                            {% csrf_token %}
                                            <button class="button del">削除</button>
                                        </form>
                                    </td>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>