body {
    background: #3A555F;
}
h2 {
    font-size: 50px;
    color: #CFB06A;
    font-weight: 800;
    font-family: Century;
}
h3 {
    font-size: 25px;
    background: #CFB06A;
    color: #3A555F;
    font-weight: 800;
    font-family: Century;
}
<<<<<<< HEAD
/* td {
=======
/* p {
    background: #2C242A;
    color: #7187B0;
} */

td {
>>>>>>> origin/akita/dev
    border-top-width: 3px;
    border-top-color: #ffe0c1;
    background: #fdf5e6;
} */
.message {
    font-size: 20px;
    font-weight: 60%;
}
.button {
    color: #fa8072;
    background: #fffff0;
}
